<% layout('layout-home') -%>
    <div id="dvHome">

    </div>
    <script>
        $(function () {
            $("dvHome").PNotifyPlugin();
            $("dvHome").HomePlugin();
        });
    </script>