<% layout('layout-home') -%>
    <% include ../partials/syncfusion%>
        <main role="main" class="container">
            <div id="dvHome">
                <div id="tenantsChart">
                </div>
            </div>
        </main>
        <script src="/javascripts/app/quickbooks/home.js"></script>
        <script src="/javascripts/app/quickbooks/Plugin.Common.js"></script>
        <script src="/javascripts/app/quickbooks/Plugin.Menu.js"></script>
        <script src="/javascripts/app/quickbooks/Plugin.Home.js"></script>