<% layout('layout-home') -%>
    <% include ../partials/syncfusion%>
        <main role="main">
            <div id="dvTenants">
                <div id="Grid">
                </div>
            </div>
        </main>
        <script src="/javascripts/app/quickbooks/Tenants.js"></script>
        <script src="/javascripts/app/quickbooks/Plugin.Menu.js"></script>
        <script src="/javascripts/app/quickbooks/Plugin.Common.js"></script>
        <script src="/javascripts/app/quickbooks/Plugin.Tenants.js"></script>