<% layout('layout-home') -%>
    <% include ../partials/syncfusion%>
        <div id="dvTenants">
            <div id="Grid">
            </div>
        </div>
        <script src="/javascripts/app/quickbooks/Tenants.js"></script>
        <script src="/javascripts/app/quickbooks/Plugin.Tenants.js"></script>
        <script src="/javascripts/app/quickbooks/Plugin.Menu.js"></script>