<% layout('layout-home') -%>
    <% include ../partials/syncfusion%>
        <div id="dvTenants">
            <div id="Grid">
            </div>
            <!-- <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
                <div class="table-responsive">
                    <table class="table table-striped" id="tblTenants">
                        <thead>
                            <tr>
                                <th>Flat#</th>
                                <th>Tenant</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Open Balance</th>
                            </tr>
                        </thead>
                        <tbody id="TenantstBody">
                        </tbody>
                    </table>
                </div>
            </main> -->
        </div>
        <script src="/javascripts/app/quickbooks/Tenants.js"></script>
        <script src="/javascripts/app/quickbooks/Plugin.Tenants.js"></script>
        <script src="/javascripts/app/quickbooks/Plugin.Menu.js"></script>